.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    max-width: 1440px;
    margin: 0 auto;
    gap: 1rem;
    position: relative;
}

.flex-1 {
    flex: 1;
}

.header {
    width: 100%;
    /* border-bottom: 2px solid #646464; */
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;
}

/* .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    max-width: 1440px;
    margin: 0 auto;
    gap: 1rem;
    width: 100%;
    border-bottom: 2px solid #646464;
    background-color: bisque;
} */

.logo-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    /* gap: 0.2rem; */
}

.logo-title {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Arial', sans-serif;
    color: #4d4d4d;
}

.logo {
    width: 50px;
    height: 50px;
}


.nav-list {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav-link {
    text-decoration: none;
    color: #4d4d4d;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    font-weight: 600;
    font-size: 1rem;
    font-family: 'Arial', sans-serif;
    cursor: pointer;
}

.nav-link:hover,
.nav-link.active {
    background-color: #E07E1B;
    color: #fff;
    transition: background-color 0.3s ease;
}

.cart-container {
    position: relative;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.cart-counter-badge {
    position: absolute;
    top: -5px;
    right: -10px;
    /* padding: 0.2rem 0.5rem; */
    background-color: #E07E1B;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-counter-badge-value {
    font-size: 0.8rem;
    font-weight: 600;
    font-family: 'Arial', sans-serif;
    color: #fff;
}

.cart-icon {
    width: 40px;
    height: 40px;
}


@media (max-width: 1280px) and (min-width: 1024px) {
    .header-container {
        gap: 0.5rem;
        padding-right: 1.5rem;
    }
}

@media (max-width: 768px) {

    .header-container {
        flex-wrap: wrap;
    }

    .logo-title {
        font-size: 1.2rem;
    }

    .nav-list {
        gap: 0.5rem;
        /* flex-direction: column; */
        /* align-items: flex-start; */
        /* display: none; */
    }

    .nav-link {
        font-size: 0.8rem;
        padding: 0.5rem;
        /* padding: 0.5rem 1rem; */
    }

    .nav-item {
        font-size: 0.6rem;
    }

    .menu-button {
        display: block;
    }

    .logo-container,
    .nav-container {
        flex: 1 1 1 45%;
    }

    .search-container {
        flex: 1 1 100%;
        order: 2;
    }

    .cart-item-container {
        top: 140px;
    }

}

@media (max-width: 390px) {
    .logo-title {
        font-size: 1rem;
    }

    .nav-link {
        font-size: 0.6rem;
        padding: 0.5rem 0.4rem;
        /* padding: 0.5rem 1rem; */
    }
}