<header class="header">
    <div class="header-container">
        <!-- TODO: add App title/logo-->
        <div class="flex-1 logo-container">
            <h3 class="logo-title">ShopEx</h3>
            <img src="assets/logos.png" alt="websitelogo" class="logo">

        </div>
        <!-- TODO: add Search input component (nested) -->


        @if(isProductsPage) {
        <div class="flex-1 search-container">
            <app-search-input-component (search)="onSearch($event)" [searchValue]="searchValue()" />
        </div>
        }


        <!-- navigation list -->
        <nav class="flex-1 nav-container">
            <ul class="nav-list">
                <li class="nav-item"><a class="nav-link" routerLink="/" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}">Home</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/products" routerLinkActive="active">Products</a>
                </li>
                <li class="nav-item"><a class="nav-link" routerLink="/cart" routerLinkActive="active">Cart</a></li>
                @if(isAuthenticated$ | async) {
                <!-- <li class="nav-item"><span class="nav-link" routerLink="/cart" >Cart</a></li> -->
                <li class="nav-item"><span class="nav-link" (click)="logout()">Logout</span></li>
                }
            </ul>
        </nav>

        <!-- TODO: add Cart counter badge -->
        <button type="button" class="cart-container" (click)="navigateToCart()">
            <div class="cart-counter-badge">
                <span class="cart-counter-badge-value">{{ count | async }}</span>
            </div>

            <img src="assets/cart.png" alt="cart" class="cart-icon">
        </button>

    </div>
</header>