.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
}


.cart-item-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.cart-image-container {
    width: 60px;
    height: 60px;
    border: 1px solid #646464;
    border-radius: 3px;
}

.cart-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.cart-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.cart-title-container,
.cart-quantity-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.cart-title,
.cart-total {
    font-size: 0.8rem;
    font-weight: 600;
    font-family: 'Arial', sans-serif;
    color: #4d4d4d;
}

.cart-price {
    font-size: 0.8rem;
    font-weight: 600;
    font-style: italic;
    font-family: 'Arial', sans-serif;
    color: #4d4d4d;
}

.cart-quantity-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}