.error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: #f1f1f2b4;
    position: fixed;
    top: 20%;
    left: 0;
    /* z-index: 1000; */
}

.error-message {
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Arial', sans-serif;
    color: #ff0000;
}



.error-code {
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Arial', sans-serif;
    color: #ff0000;
}

.error-buttons {
    margin-top: 2rem;
}

@media (max-width: 768px) {
    .error-message {
        font-size: 1rem;
    }

    .error-code {
        font-size: 0.7rem;
    }
}