.card-container {
    margin: 2rem auto;
    max-width: 1440px;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    justify-items: center;

}


 p {
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Arial', sans-serif;
    color: #4d4d4d;
}

@media (min-width: 480px) and (max-width: 1024px) {
    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (max-width: 480px) {

    .card-container {
        grid-template-columns: 1fr;
        gap: 1rem;

    }

}