.cart-item-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    padding: 2rem;
    /* height: 100vh; */
}

.cart-item-container {
    width: 400px;
    background-color: #fff;
    border: 1px solid #646464;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 3px;
    /* padding: 1rem; */
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    z-index: 12;
}

.cart-border:not(:last-child) {
    padding-bottom: 1rem;
    border-bottom: 1px solid #646464;
}

.cart-total-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0rem 1rem 1rem 1rem;
}

.cart-total-buttons {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    align-items: center;
}

.cart-total-text {
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Arial', sans-serif;
    color: #4d4d4d;
}