.search-button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-family: 'Arial', sans-serif;
    font-weight: 600;
    height: 40px;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.6);
    border: none;
    background-color: #E07E1B;
    color: #fff;
    text-align: center;
    transition: background-color 0.3s ease;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.search-button:hover {
    background-color: #c7760d;
}

@media (max-width: 480px) {

    .search-button {
        font-size: 0.8rem;
        padding: 0.2rem 1rem;

    }
}