.search-form {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.search-input {
    width: 400px;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    border: 1.5px solid #646464;
    height: 40px;
    font-size: 1rem;
    font-family: 'Arial', sans-serif;
    outline: none;
}

.search-button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-family: 'Arial', sans-serif;
    font-weight: 600;
    height: 40px;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.6);
    border: none;
    background-color: #E07E1B;
    color: #fff;
    transition: background-color 0.3s ease;
}

.search-button:hover {
    background-color: #c7760d;
}

@media (max-width: 900px) {
    .search-input {
        width: 100%;
    }

    .search-button {
        font-size: 0.8rem;
        padding: 0.2rem 1rem;

    }
}

@media (max-width: 480px) {

    .search-button {
        font-size: 0.8rem;
        padding: 0.2rem 1rem;

    }
}