.textarea-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.textarea {
    width: 100%;
    padding: 12px;
    border: 1.5px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    outline: none;
    transition: all 0.3s ease;
}

label {
    display: block;
    font-size: 0.95rem;
    font-weight: 600;
    color: #333;
    font-family: 'Arial', sans-serif;
}

.textarea:focus {
    border-color: #FF8C00;
    box-shadow: 0 0 0 3px rgba(255, 140, 0, 0.1);
}

p {
    font-size: 0.85rem;
    color: #d32f2f;
    font-weight: 500;
}


textarea.error {
    border-color: #d32f2f;
}

@media (max-width: 900px) {
    .textarea {
        width: 100%;
    }

}