<div class="select-wrapper" [formGroup]="formGroup">
    <label [for]="name" class="select-label">{{label}}</label>
    <select [id]="name" class="select-input" [class.error]="hasError" [formControlName]="name">
        <option value="" disabled selected>Select {{label}}</option>
        <option value="clothing">Clothing</option>
        <option value="electronics">Electronics</option>
        <option value="jewelry">Jewelry</option>
    </select>
    @if (hasError) {
    <p>{{errorMessage}}</p>
    }

</div>