.card {
    display: flex;
    flex-direction: column;
    border: 1px solid #646464;
    border-radius: 3px;
    /* gap: 1rem; */
    max-width: 400px;
    width: 100%;
    height: 100%;
    cursor: pointer;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.6);
}

.card:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    transform: scale(1.01);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.card-content {
    padding: 1rem;
}

.card-title {
    font-size: 1.2rem;
    font-weight: 600;
    font-family: 'Arial', sans-serif;
    color: #4d4d4d;
    margin-bottom: 0.5rem;
}

.card-description {
    font-size: 0.8rem;
    font-family: 'Arial', sans-serif;
    color: #4d4d4d;
    margin-bottom: 0.5rem;
}

.card-price {
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Arial', sans-serif;
    font-style: italic;
    color: #4d4d4d;
    margin-bottom: 0.5rem;
}

.card-image-container {
    height: 400px;
}

.card-image-container .card-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.in-cart {
    background-color: #95a2ad;
    border: 2px solid #E07E1B;
}