.input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.text-input {
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    border: 1.5px solid #646464;
    height: 40px;
    font-size: 1rem;
    font-family: 'Arial', sans-serif;
    outline: none;
}

.password-input-container {
    position: relative;
    width: 100%;
}

.password-input-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #646464;
}


label {
    display: block;
    font-size: 0.95rem;
    font-weight: 600;
    color: #333;
    font-family: 'Arial', sans-serif;
}

p {
    font-size: 0.85rem;
    color: #d32f2f;
    font-weight: 500;
}


input.error {
    border-color: #d32f2f;
}

@media (max-width: 900px) {
    .text-input {
        width: 100%;
    }

}